@tailwind base;
@tailwind components;
@tailwind utilities;


  .main {
    width: 100vw;
    z-index: 2;
    min-height: 100vh;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px; 
    pointer-events: none;
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  }

  .app {
    @apply relative z-10 flex w-screen h-screen;
  }
  
  .gradient {
    z-index: 2;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    opacity: 0.15;
  }

  .sidebar {
    @apply bg-primary-color h-screen px-3 duration-200 
             relative hidden xs:block;
  }

  .landing-page{
    @apply relative w-full h-full;
  }

  .login-signup-buttons {
    @apply rounded-full items-center justify-center  hover:bg-primary-color 
    bg-opacity-20 text-white border-white px-3 sm:py-1
    cursor-pointer;
  }

  .navbar{
    @apply relative top-0 right-0 left-0 flex flex-row justify-between items-center 
            px-5 py-3 sm:px-10 sm:py-4 mx-auto z-20;
  }


.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes playOnce {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

.animate-once {
  animation: playOnce 1s linear; /* Adjust duration as needed */
}

