@tailwind base;
@tailwind components;
@tailwind utilities;



.main {
  width: 100vw;
  z-index: 2;
  min-height: 100vh;
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px; 
  pointer-events: none;
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
}


.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
  }
  

.gradient {
    z-index: 1;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, rgb(45, 105, 184) 0px, transparent 50%),
      radial-gradient(at 52% 99%, rgb(155, 48, 221) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, rgb(75, 96, 160) 0px, transparent 50%),
      radial-gradient(at 33% 50%, rgb(99, 129, 200) 0px, transparent 50%),
      radial-gradient(at 79% 53%, rgb(115, 52, 152) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 0;
    opacity: 0.15;
  }



